* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

:root {
    --main-color-one:#3066BE;
    --main-color-two:#F83292;
    --second-color :#008FD7;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #fafafa;
}

section ,
.home{
    padding: 0 8%;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* header starts */

header {
    height: 5.8rem;
    width: 100%;
    background-color: #fff;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 20%);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11111111;
}

header label,
header input {
    display: none;
    font-size: 3.5rem;
}

/* logo  */
.logo {
    background-image: linear-gradient(var(--main-color-one),var(--main-color-two));
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4.9rem;
    color:transparent;
}

.logo  i{
    width: 100%;
}

/* navcation bar  */

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav a {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2.5rem;
    margin-right: 0;
    color: #008FD7;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

header nav a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    z-index: 1111111111111;
    bottom: -2px;
    left: 0;
    /* background-image: linear-gradient( #3066BE -60% , #3066bef0,  #f83292eb); */
    background-color: #3066BE;
    transition: .5s ease ;
    transform: scaleX(0);
}

header nav a:hover::after {
    transform-origin: center;
    transform: scaleX(1);
}

/* nav a:hover {
    
} */

/* header ends */


/* home starts  */

.home {
    background-image: linear-gradient( #3066BE -60% , #3066bef0,  #f83292eb);
    overflow: hidden;
}

.home .contant {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap-reverse; */
    padding-top: 10rem;
}

.home .contant .image {
    flex:50rem 1 1 ;
    position: relative;
    z-index: 11;
}

.home .contant .image::before {
    position: absolute;
    content: url(image/Cat-astronaut-amico.svg);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    animation: floting-stars 15s  linear  alternate infinite;
}

.home .contant .image img {
    width: 100%;object-fit: cover;
    animation: floting-cat 10s  linear  alternate infinite;
}

@keyframes floting-cat {
    to {
        transform: translatey(10%);
    }
}

.home .contant .left {
    flex:35rem 1 1 ;
    position: relative;
    z-index: 11;
}

.home .contant .left::before {
    position: absolute;
    content: url(image/Cat-astronaut-amico.svg);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    animation: floting-stars 15s  linear  alternate infinite;
}

@keyframes floting-stars {
    to {
        transform: translate(-20%, 20%);
    }
}

/* .home .contant .left div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.home .contant .left div img {
    width: 100%;
} */

.home .contant .left h1 {
    color: #f5f5f5;
    font-size: 6.4rem;
    font-family: 'Koulen', cursive;;
    line-height: 1;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}

.home .contant .left h1 span {
    color: #2c2c2c;
    font-size: 9rem;
    text-transform: uppercase;
    font-weight: 700;
}

.home .contant .left p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: bold;
    color: #e0e0e0;
}

/* home ends  */




/* media section */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}



@media (max-width:991px) {
    nav a {
        font-size: 1.7rem;
        margin-right: 1rem;
    }
    .logo i {
        font-size: 4.3rem;
    }
    header ,
    section,
    .home {
        padding: 0 3%;
    }
    
    
}


@media (max-width:768px) {
    header nav{
        position: absolute;
        top: 100%;right: -100%;
        transition: right .7s ease;
        opacity: .2; 
        background-color: #f5f5f5;
        height: 60vh;
        width: 70%;
        transform: scaleX(.5);
    }
    header label {
        display: block;
    }
    header input:checked ~ nav {
        display: block;
        position: absolute;
        top: 100%;right: 0;
        opacity: 1;
        transform: scaleX(1);

    }
    nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        border: 1px solid #c3c3c3;
    }

    nav ul li {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav ul li a {
        margin: 0;
    }

    .home .contant {
        flex-wrap: wrap-reverse;

    }
}


@media (max-width:450px) {
    html {
        font-size: 50%;
        overflow-x: hidden;
    }
}
